/* AppComponent's private CSS styles */
h1 {
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    font-weight: bold;
    padding: 5px 40px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: yellow;
    border-radius: 4px;
  }

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
margin-right: 20px;
}

  nav a:visited, a:link {
    color: black;
  }
  nav a:hover {
    background-color: rgb(190, 190, 22);;
  }
  nav a.active {
    color: #039be5;
  }