h2 {
    color: white;
    font-weight: bold;
}

.message__btn {
    border: none;
    border-radius: 5px;
    background-color: yellow;
    padding: 15px 50px;
    font-weight: bold;
}

.message__btn:hover {
    background-color: rgb(190, 190, 22);
    cursor: pointer;
}

.message__btn-text {
    color: #000;
    font-size: 25px;
}

.message__view {
    color: white;
    font-weight: bold;
    padding-top: 20px;
}