/* HeroesComponent's private CSS styles */
h2 {
  color: white;
  font-weight: bold;
}

.hores__menu {
  background: url("../../assets/img/EP1-IA-99993-RESIZED_f9ae99b6.jpeg") no-repeat;
  /* background-size: calc(90%); */
  background-size: 70em 40em;
  background-position: right;
  margin-top: 40px;
}

.hores__name {
  color: white;
  font-weight: bold;
}

.hores__input {
  height: 30px;
  color: white;
  font-weight: bold;
  background-color: black;
  border: 2px solid white;
  border-radius: 4px;
}

.hores__button {
  color: black;
  font-weight: bold;
  padding: 10px 40px;
  background-color: yellow;
  border-radius: 4px;
  margin-left: 10px;
}

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 20em;
  text-transform: uppercase;
}
.heroes li {
  position: relative;
  width: 100%;
  cursor: pointer;
  background-color: black;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.heroes li:hover {
  color: black;
  background-color: rgb(190, 190, 22);
  left: .1em;
}

.heroes a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  display: block;
}

.heroes a:hover {
  color: black;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  padding: 0.8em 0.7em 0 0.7em;
  /* background-color: #607D8B; */
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.badge {
  color: black;
  font-weight: bold;
  background-color: yellow;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: rgb(190, 190, 22);
}

button.delete {
  position: relative;
  left: 280px;
  top: -34px;
  background-color: white !important;
  color: black;
}