<h2>My Heroes</h2>
<section class="hores__menu">
  <div>
    <label class="hores__name">Hero name:
      <input #heroName class="hores__input"/>
    </label>
    <button (click)="add(heroName.value); heroName.value=''" class="hores__button">
      Add
    </button>
  </div>

  <ul class="heroes">
    <!-- let hero of heroes$ | async -->
    <li *ngFor="let hero of heroes$ | async" routerLink="/detail/{{hero.id}}">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <button class="delete" title="delete hero"
    (click)="delete(hero)">x</button>
    </li>
  </ul>
</section>